@charset "UTF-8"; .font-en {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.font-min {
    font-family: "Noto Serif JP", serif;
}

.font-maru {
    font-family: "Zen Maru Gothic", serif;
}

/* ------------------------------ ヘッダー
------------------------------ */
/*.header { position: fixed; .header-in { position: relative; } .header-in-home { position: absolute; top: 0;    left: 0; width: 100%; height: 100%; } .header-r { .header-nav { .gnav { li { a { &:hover { &::after { background-color: $color_main; } } } } } } }
}
*/
/* ------------------------------ コンテンツ
------------------------------ */
.home-ttl {
    margin-bottom: 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f56e50;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.2;
}

@media screen and (max-width: 750px) {
    .home-ttl {
        margin-bottom: 4.347826087%;
        font-size: 1.8rem;
    }
}

.home-ttl span {
    margin-right: 40px;
    font-size: 5.4rem;
    font-weight: 300;
}

@media screen and (max-width: 750px) {
    .home-ttl span {
        margin-right: 20px;
        font-size: 4.0rem;
    }
}

.homemain-sec {
    display: flex;
}

@media screen and (max-width: 1280px) {
    .homemain-sec {
        display: block;
    }
}

.homemain-sec .homemain-swiper {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.homemain-sec .homemain-swiper .swiper-pagination-bullets {
    margin-bottom: 30px;
}

@media screen and (max-width: 750px) {
    .homemain-sec .homemain-swiper .swiper-pagination-bullets {
        margin-bottom: 2.4%;
    }
}

.homemain-sec .homemain-swiper .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    margin: 0 8px !important;
    background: #fff;
    opacity: 1;
}

.homemain-sec .homemain-swiper .swiper-pagination-bullet-active {
    background: #f56e50;
}

.homemain-sec .homemain-side {
    width: 27.5%;
    padding: 20px 15px 10px;
    background-color: #ffd2d5;
}

@media screen and (max-width: 1280px) {
    .homemain-sec .homemain-side {
        display: none;
    }
}

.homemain-sec .homemain-side .homemain-ttl {
    margin-bottom: 20px;
    padding: 5px 0 5px;
    background: url("../img/home/main_i001.png") no-repeat center top;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 700;
}

@media screen and (max-width: 1400px) {
    .homemain-sec .homemain-side .homemain-ttl {
        margin-bottom: 10px;
        font-size: 1.5rem;
        background-size: 100% auto;
    }
}

.homemain-sec .homemain-side .homemain-banner li {
    margin-bottom: 8px;
    box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.2);
}

.homemain-sec .homemain-side .homemain-banner li:first-child .homemain-banner-box-in {
    background: url("../img/common/ico_arrow_long_p.svg") no-repeat left bottom;
}

.homemain-sec .homemain-side .homemain-banner li:last-child .homemain-banner-box-in {
    background: url("../img/common/ico_arrow_long_g.svg") no-repeat left bottom;
}

.homemain-sec .homemain-side .homemain-banner li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: #fff;
}

.homemain-sec .homemain-side .homemain-banner li .homemain-banner-box {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px 4.9342105263% 10px 8.2236842105%;
}

.homemain-sec .homemain-side .homemain-banner li .homemain-banner-box .homemain-banner-box-in {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

.homemain-sec .homemain-side .homemain-banner li .homemain-banner-box p {
    width: 14.0151515152%;
    margin-right: 5.6818181818%;
}

.homemain-sec .homemain-side .homemain-banner li .homemain-banner-box dl dt {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.homemain-sec .homemain-side .homemain-banner li .homemain-banner-box dl dd {
    font-size: 1.4rem;
    font-weight: 700;
}

.homemain-sec .homemain-side .homemain-banner li figure {
    width: 25.8536585366%;
}

.homemain-sec .homemain-side .homemain-banner-link {
    box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.2);
}

.spnews-sec {
    display: none;
    background-color: #e9edf1;
    border-bottom: 10px solid #f56e50;
}

@media screen and (max-width: 1280px) {
    .spnews-sec {
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .spnews-sec .inner {
        padding: 0;
    }
}

.spnews-sec .spnews-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
}

@media screen and (max-width: 750px) {
    .spnews-sec .spnews-in {
        padding: 3.3333333333% 4%;
    }
}

.spnews-sec .spnews-ttl {
    position: relative;
    width: 173px;
    margin-right: 40px;
    border: 1px solid #f56e50;
    border-radius: 50%;
}

@media screen and (max-width: 750px) {
    .spnews-sec .spnews-ttl {
        width: 25.0724637681%;
        margin-right: 5.7971014493%;
    }
}

.spnews-sec .spnews-ttl::after {
    content: '';
    display: block;
    padding-top: 100%;
}

.spnews-sec .spnews-ttl .spnews-ttl-txt {
    position: absolute;
    text-indent: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 3.2rem;
    font-weight: 400;
    color: #f56e50;
    text-align: center;
    line-height: 1.2;
}

@media screen and (max-width: 750px) {
    .spnews-sec .spnews-ttl .spnews-ttl-txt {
        font-size: 1.8rem;
    }
}

.spnews-sec .spnews-box {
    flex: 1;
}

.spnews-sec .spnews-box p a {
    display: block;
    padding-right: 20px;
    text-decoration: none;
    background: url("../img/common/ico_arrow_o.svg") no-repeat right center;
    background-size: 10px auto;
}

@media screen and (max-width: 750px) {
    .spnews-sec .spnews-box p a {
        line-height: 2;
    }
}

.news-sec {
    padding: 60px 0;
}

@media screen and (max-width: 750px) {
    .news-sec {
        padding: 6.6666666667% 0 22.6666666667%;
    }
}

.news-sec ._newsmenu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.news-sec ._newsmenu li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24.1666666667%;
    margin-right: 1.0833333333%;
    border: 1px solid #f56e50;
    background-color: #fff;
    padding: 15px 5px;
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
    transition: all .6s;
}

@media screen and (max-width: 750px) {
    .news-sec ._newsmenu li {
        padding: 10px 5px;
        font-size: 1.1rem;
    }
}

.news-sec ._newsmenu li:last-child {
    margin-right: 0;
}

.news-sec .news-list li {
    border-bottom: 2px solid #f6f6f6;
}

.news-sec .news-list li:first-child {
    border-top: 2px solid #f6f6f6;
}

.news-sec .news-list li a {
    display: block;
    text-decoration: none;
}

.news-sec .news-list li a:hover .news-list-txt {
    text-decoration: underline;
}

.news-sec .news-list li .news-list-item {
    padding: 15px 20px 15px 0;
    background: url("../img/common/ico_arrow_o.svg") no-repeat right center;
    background-size: 6px auto;
}

.news-sec .news-list li .news-list-txt {
    font-size: 1.6rem;
}

.news-sec .news-list li .news-list-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.news-sec .news-list li .news-list-box .news-list-date {
    flex: 1;
    margin-left: 1em;
    font-size: 1.5rem;
    font-weight: 700;
}

@media screen and (max-width: 750px) {
    .news-sec .news-list li .news-list-box .news-list-date {
        font-size: 1.3rem;
    }
}

.news-sec .news-list li .news-list-box .news-list-cate {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.news-sec .news-list li .news-list-box .news-list-cate span {
    display: block;
    width: 14em;
    margin-right: 0.5em;
    padding: 2px 1px;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 750px) {
    .news-sec .news-list li .news-list-box .news-list-cate span {
        font-size: 1rem;
    }
}

.news-sec .news-btn {
    width: 100%;
    max-width: 275px;
    margin: 40px auto 0;
}

.data-sec {
    margin-bottom: 70px;
}

@media screen and (max-width: 750px) {
    .data-sec {
        margin-bottom: 22.6666666667%;
    }
}

.data-sec .data-lead {
    margin-bottom: 10px;
    font-size: 2.0rem;
}

@media screen and (max-width: 750px) {
    .data-sec .data-lead {
        margin-bottom: 6.5217391304%;
    }
}

.data-sec .data-btn {
    width: 100%;
    max-width: 275px;
    margin: 0 auto;
}

.join-sec {
    margin-bottom: 115px;
}

@media screen and (max-width: 750px) {
    .join-sec {
        margin-bottom: 23.3333333333%;
    }
}

.join-sec .join-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

@media screen and (max-width: 750px) {
    .join-sec .join-box {
        display: block;
        margin-bottom: 7.9710144928%;
    }
}

.join-sec .join-box .join-lead {
    flex: 1;
    font-size: 1.7rem;
    line-height: 1.8;
}

@media screen and (max-width: 750px) {
    .join-sec .join-box .join-lead {
        margin-bottom: 8.6956521739%;
    }
}

.join-sec .join-box .join-fig {
    width: 46.6666666667%;
    margin-left: 6.25%;
}

@media screen and (max-width: 750px) {
    .join-sec .join-box .join-fig {
        width: 100%;
        margin-left: 0;
    }
}

.join-sec .join-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

@media screen and (max-width: 750px) {
    .join-sec .join-list {
        margin-bottom: 8.6956521739%;
    }
}

.join-sec .join-list li {
    width: 33.3333333333%;
    border: 1px solid #ddd;
    border-right: none;
}

@media screen and (max-width: 960px) {
    .join-sec .join-list li {
        width: 50%;
        height: 8em;
    }
}

.join-sec .join-list li:first-child a .ico {
    width: 2.0em;
    height: 2.0em;
}

@media screen and (max-width: 750px) {
    .join-sec .join-list li:first-child a .ico {
        width: 2.0em;
        height: 2.0em;
    }
}

@media screen and (max-width: 960px) {
    .join-sec .join-list li:nth-child(2) {
        border-right: 1px solid #ddd;
    }
}

.join-sec .join-list li:nth-child(2) a .ico {
    width: 1.7em;
    height: 0.8em;
}

@media screen and (max-width: 750px) {
    .join-sec .join-list li:nth-child(2) a .ico {
        width: 2.5em;
        height: 2.5em;
    }
}

@media screen and (max-width: 960px) {
    .join-sec .join-list li:nth-child(3) {
        border-top: none;
        border-right: 1px solid #ddd;
    }
}

.join-sec .join-list li:nth-child(3) a .ico {
    width: 2.8em;
    height: 2.3em;
}

.join-sec .join-list li:nth-child(4) {
    border-right: 1px solid #ddd;
}

@media screen and (max-width: 960px) {
    .join-sec .join-list li:nth-child(4) {
        border-top: none;
    }
}

.join-sec .join-list li:nth-child(4) a .ico {
    width: 1.8em;
    height: 1.8em;
}

@media screen and (max-width: 750px) {
    .join-sec .join-list li:nth-child(4) a .ico {
        width: 2.0em;
        height: 2.0em;
    }
}

.join-sec .join-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 35px;
    font-size: 1.8rem;
}

@media screen and (max-width: 750px) {
    .join-sec .join-list li a {
        align-items: flex-end;
        text-align: center;
        padding: 0.5em 0.5em 1em;
        font-size: 1.6rem;
    }
}

.join-sec .join-list li a div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
}

@media screen and (max-width: 750px) {
    .join-sec .join-list li a div {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 750px) {
    .join-sec .join-list li a span {
        display: block;
        width: 100%;
    }
}

.join-sec .join-list li a .ico {
    margin-right: 50px;
}

@media screen and (max-width: 750px) {
    .join-sec .join-list li a .ico {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.join-sec .join-btn {
    width: 100%;
    max-width: 275px;
    margin: 0 auto;
}

.insta-sec {
    margin-bottom: 100px;
}

@media screen and (max-width: 750px) {
    .insta-sec {
        margin-bottom: 13.3333333333%;
    }
}

.insta-sec .insta-ttl {
    margin-bottom: 50px;
    font-size: 2.6rem;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .insta-sec .insta-ttl {
        margin-bottom: 7.2463768116%;
        font-size: 2.2rem;
    }
}

.insta-sec .insta-ttl span {
    background: linear-gradient(transparent 60%, #ffff80 60%);
}

.banner-sec {
    padding: 70px 0 75px;
    background-color: #eef4f9;
}

@media screen and (max-width: 750px) {
    .banner-sec {
        padding: 9.3333333333% 0 13.3333333333%;
    }
}

.banner-sec .banner-ttl {
    margin-bottom: 35px;
    font-size: 2.6rem;
    font-weight: 700;
    color: #f56e50;
}

@media screen and (max-width: 750px) {
    .banner-sec .banner-ttl {
        margin-bottom: 8.6956521739%;
        text-align: center;
        font-size: 2.2rem;
    }
}

.banner-sec .banner-list {
    position: relative;
}

@media screen and (max-width: 750px) {
    .banner-sec .banner-list {
        margin-bottom: 0;
    }

    .banner-sec .banner-list .banner-list-swiper {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
}

.banner-sec .banner-list .banner-list-in {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    line-height: 1.6;
}

@media screen and (max-width: 750px) {
    .banner-sec .banner-list .banner-list-in {
        padding: 0;
    }
}

.banner-sec .banner-list .banner-list-slider {
    display: flex;
}

.banner-sec .banner-list .banner-list-slider li {
    position: relative;
    width: 23.75%;
    margin-right: 1.6666666667%;
}

@media screen and (max-width: 750px) {
    .banner-sec .banner-list .banner-list-slider li {
        width: 100%;
        margin-right: 0;
    }
}

.banner-sec .banner-list .banner-list-slider li:last-child {
    margin-right: 0;
}

.banner-sec .banner-list .slide-tool {
    display: none;
}

@media screen and (max-width: 750px) {
    .banner-sec .banner-list .slide-tool {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6%;
    }
}

.banner-sec .banner-list .swiper-pagination-bullets {
    position: static;
    width: 150px;
}

.banner-sec .banner-list .swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    margin: 0 10px !important;
    background: #5b768d;
    opacity: 1;
}

.banner-sec .banner-list .swiper-pagination-bullet-active {
    background: #f56e50;
}

.banner-sec .banner-list .slide-btn {
    z-index: 999;
    width: 2.4%;
    cursor: pointer;
}

.banner-sec .banner-list .slide-btn.slide-prev {
    left: 0;
}

.banner-sec .banner-list .slide-btn.slide-next {
    right: 0;
}

/*# sourceMappingURL=home.css.map */
